@charset "utf-8";
:root {
    --major: #4ae27f;
    --title: #1abc9c;
}
/* 로그인 form */

.login-container {
    max-width: 400px;
    margin: 60px auto 60px;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.login-header {
    text-align: center;
}
.login-header h2 {
    font-size: 1.2rem;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-group {
    display: flex; /* 위치 바꾸게 하기 */
    flex-direction: column;
    gap: 0.5rem;
}
.form-group label {
    color: #333;
    font-size: 0.9rem;
}
.form-group input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}
.form-group input:focus {
    outline: none;
    border-color: var(--major);
}

/* sign_up */
.sign_up {
    display: flex;
    color: #666666;
    font-size: 0.9rem;
    justify-content: space-between;
}
.sign_up label {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.sign_up a {
    display: flex;
    padding-top: 3px;
    color:#666;
}
button {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}
.signup_link {
    color: #666;
    font-size: 0.9rem;
    text-align: center;
}
.signup_link a{
    color: var(--title);
    font-weight: bold;
}
.button_login {
    transition: all 0.3s ease;
}
.button_login:hover {
    background: var(--major);
}

.easy_login {
    text-align: center;
}
.easy_login p {
    /* position: relative; */
    padding-bottom: 0.5rem;
    color: #000;
    font-weight: bold;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.social-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-button:hover {
    transform: translateY(-3px);
}

.social-button.kakao {
    background: #FEE500;
    color: #000;
    position: relative;
}
.social-button.kakao span{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 0%;
    transform: translateY(-25%);
    font-size: 1.5rem;
    font-weight: 900;
}
.social-button.kakao img{
    /* padding-top: 10px; */
    /* width: 40px; */
}

.social-button.naver {
    background: #03C75A;
    position: relative;
}

.social-button.naver span {
    display: block;
    width: 40px;
    height: 40px;
    color: white;
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 0%;
    transform: translateY(-25%);
    font-size: 1.5rem;
    font-weight: 900;
}

.social-button.google {
    background: #DB4437;
}
.social-button.google span {
    font-size: 1.5rem;
    font-weight: 760;
}