@charset "utf-8";
/* #navigation {
    position: fixed;
    top: 0; left: 0; 
    z-index: 99;
    width: 100%; height: 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fffc;
} */
:root{
    --major: #4ae27f;
    --m_font: 'Pretendard';
    --radius: 10px;
    --title:#1abc9c;
}
h3{
    font-size: 1.3rem;
}

 /* 슬로건 */
.slogan{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/hero.jpg') center/cover no-repeat; */
    background-image: url(../image/Tiny\ real\ estate\ agents\ with\ clients\ near\ houses.jpg);
    background-position: left center;
    background-size: 99%;
    color: #000;
    animation: fadeIn 1s ease;
}
.slogan h2 {
    font-size: 3rem;
}
.slogan p {
    padding-bottom: 2rem;
    font-size: 1.2rem;
    font-family: var(--m_font);
    color: #000;
}
.search-container{
    display: flex;
    gap: 1rem;
    background: #eee;
    padding: 0.5rem;
    border-radius: var(--radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.search-container input {
    padding: 14px;
    width: 700px;
    font-size: 1rem;
    border: none;
}
.search-container button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: var(--radius);
    background-color: var(--major);
    transition: all;
}

/* 분양 정보 */
.property-section {
    margin-top: 3rem; /* 슬로건과 사이에 여백 추가 */
    padding: 0px 5rem;
    max-width: 1200px;
    
}
.property-section h2 {
    padding: 0px 5rem;
    font-family: var(--m_font);
}
.property-title {
    padding: 0px 5rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center; /* 중앙 정렬 */
    width: 100%; /* 전체 너비 사용 */
    color: var(--title);
}
.property {
    display: flex;
    width: 100%;
    background: #fff;
    padding: 1rem;
    margin-left: 10rem;
}
.property-list {
    padding-left: 5rem;
}
.property-img {
    height: 150px;
}
.property-tag {
    color: #000;
}
.property-price {
    color: var(--title);
    font-size: 1.2rem;
}
.property-loca {
    color: #000;
}



/* Features Section */
.features {
    /* margin-top: 1.5rem; */
    margin: 1.5rem auto;
    padding: 0px 5rem;
}
.features p {
    color: var(--title);
}
.features h2{
    padding: 0px 5rem;
}
.features-cur {
    padding: 0px 5rem;
    font-family: var(--m_font);
    font-size: 1.2rem;
}
.features-section {
    background-color: var(--light);
    padding: 4rem 2rem;
    text-align: center;
}

.features-grid {
    max-width: 1200px;
    margin: 1.5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.feature-card {
    background: #fff;
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.feature-card h3 {
    padding: 0.5rem 0;
}
.feature-card p {
    color: #000;
}

.feature-image {
    width: 30%;
    /* margin-left: 40%; */
}